extends layout

block content
	h1=title
	ul.errors
		if message
			each error, i in message
				li.alert.alert-danger #{error}
	form(method='post', action='/addAdmin')
		.form-group
			label Username:
			input.form-control(name='adminusername', type='text')
		input.btn.btn-default(name='submit', type='submit' value='Add Admin')
script(src='js/jquery.js')
script(src='js/bootstrap.min.js')
script(type='text/javascript', src='js/jquery.cycle2.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
